extends layout

block content
  header
    a(href="http://mailtrig.ru", class="b-logo", target="_blank") Mailtrig
    nav
      ul
        li
          a(href="http://#{user.insalesurl}", target="_blank") В магазин
        li
          a(href="http://mailtrig.ru", target="_blank") O MailTrig
        li
          a(href="http://app.mailtrig.ru/wizard.php?new&autologin=#{user.autologin}", target="_blank") Личный кабинет
  section
    div.b-dashboard
      p.b-annot.b-annot-right СЕРВИС
      if user.cookie && user.webhook && user.jstagid_main !== 0 && user.jstagid_var !== 0
        div#turn.b-turn-on-or-off.b-turn-on
      else
        div#turn.b-turn-on-or-off.b-turn-off
          div.b-turn-slide
          p.b-text-on ВКЛЮЧЕН
          p.b-text-off ВЫКЛЮЧЕН
      i.b-arrow.b-arrow-right
      if user.nameshop
        h2.b-name Название магазина
        p.b-name-mag &#132;#{user.nameshop}&#147;
      if user.nameadmin
        h2.b-adm Администратор магазина
        p.b-adm-name #{user.nameadmin}
      if user.phone
        p.b-adm-phone #{user.phone}
      if user.email
        p.b-adm-email #{user.email}
      if user.enabled !== 0
        p.b-app.b-app-on Приложение установлено
      else
        p.b-app.b-app-off Приложение установлено